<div id="bodyWrapper">
  <header id="header">
    <section>
      <img src="sources/CreationStationLogo2.png" alt="LOGO">
    </section>
    <nav>
      <ul>
        <li><h4>Artists</h4></li>
        <li><h4>IP's</h4></li>
        <li><h4>Medias</h4></li>
        <li><h4>Search</h4></li>
        <li><h4>Profile</h4></li>
      </ul>
    </nav>
  </header>

  <main>
    <ul class='splashLanding'>
      <%for(let i = 0; i < splashes.length; i++){ %>
        <li>
          <section class="imageSplash" name=<%=splashNames[i]%> >
            <section class="splashHeader">
              <h1 id=<%=splashNames[i]%> ><%= splashNames[i] %></h1>
              <button type="button" name="button">X</button>
            </section>

            <ul>
              <%splashes[i].forEach(image => { %>
                <li class ='imgContainer'>
                  <img src="<%= image.url %>" alt="">
                  <section class="textBox">
                    <span class="artTitle"><%= image.name %></span>
                    <span class="artist">By <%= image.creator %></span>
                  </section>
                </li>
              <%})%>
            </ul>
          </section>
        </li>
      <%}%>
    </ul>
  </main>

  <section id="viewer">

  </section>



  <script type="text/javascript" src='js/main.js'></script>
