<div id="bodyWrapper">
  <header id="header">
    <section>
      <img src="sources/CreationStationLogo2.png" alt="LOGO">
    </section>
    <nav>
      <ul>
        <li><h4>Artists</h4></li>
        <li><h4>IP's</h4></li>
        <li><h4>Medias</h4></li>
        <li><h4>Search</h4></li>
        <li><h4>Profile</h4></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="imageSplash" name="latest">
      <section class="splashHeader">
        <h1 id='latest'>Latest uploads</h1>
        <button type="button" name="button">X</button>
      </section>
      <ul>
        <%firstSplash.forEach(image => { %>
          <li class ='imgContainer'>
            <img src="<%= image.url %>" alt="">
            <section class="textBox">
              <span class="artTitle"><%= image.name %></span>
              <span class="artist">By <%= image.creator %></span>
            </section>
          </li>
        <% })%>
      </ul>
    </section>

    <section class="imageSplash" name="hot">
      <section class="splashHeader">
        <h1 id='hot'>Hot</h1>
        <button type="button" name="button">X</button>
      </section>
      <ul>
        <%firstSplash.forEach(image => { %>
          <li class ='imgContainer'>
            <img src="<%= image.url %>" alt="">
            <section class="textBox">
              <span class="artTitle"><%= image.name %></span>
              <span class="artist">By <%= image.creator %></span>
            </section>
          </li>
        <% })%>
      </ul>
    </section>

    <section class="imageSplash" name="forYou">
      <section class="splashHeader">
        <h1 id='forYou'>For You</h1>
        <button type="button" name="button">X</button>
      </section>
      <ul>
        <%firstSplash.forEach(image => { %>
          <li class ='imgContainer'>
            <img src="<%= image.url %>" alt="">
            <section class="textBox">
              <span class="artTitle"><%= image.name %></span>
              <span class="artist">By <%= image.creator %></span>
            </section>
          </li>
        <% })%>
      </ul>
    </section>

    <section class="imageSplash" name="allTime">
      <section class="splashHeader">
        <h1 id='allTime'>All Time Favorites</h1>
        <button type="button" name="button">X</button>
      </section>
      <ul>
        <%firstSplash.forEach(image => { %>
          <li class ='imgContainer'>
            <img src="<%= image.url %>" alt="">
            <section class="textBox">
              <span class="artTitle"><%= image.name %></span>
              <span class="artist">By <%= image.creator %></span>
            </section>
          </li>
        <% })%>
      </ul>
    </section>
  </main>


  <script type="text/javascript" src='js/main.js'></script>
